@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 200ms linear !important;
}

.container {
    max-width: 1170px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.gap-38 {
    gap: 38px;
}

.pb-150 {
    padding-bottom: 150px;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-color-1 {
    background-color: #FFF7F4;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
    /* box-shadow: 0px 4px 35px 0px #00000014; */
    padding: 10px 0;
}

.nav-fonts {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #373737;
}

.nav-fonts:hover {
    color: #FF5300;
}

.digi-font {
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    color: #FF5300;
}

.ency-font {
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    color: #373737;
}

.let-talk {
    padding: 10px 22px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #373737
}

.let-talk:hover {
    background-color: #373737;
    color: white;
}

.get-strt-font {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: 10px 22px;
    background-color: #FF5300;
    color: white;
    border: 1px solid #FF5300;
    border-radius: 5px;
}

.get-strt-font:hover {
    background-color: white;
    color: #FF5300;
    border: 1px solid #FF5300;
}

.pt-208 {
    padding-top: 150px;
}

.pt-18-30 {
    padding-top: 18px;
    padding-bottom: 30px;
}

.choose-font {
    font-family: "Poppins", sans-serif;
    font-size: 48.83px;
    font-weight: 700;
    line-height: 73.2px;
    max-width: 602px;
    color: #373737;
}

.lorem-font {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #7B7B7B;
    max-width: 560px;
}

.bottom-line {
    border-bottom: 1px solid #FF5300;
    width: 40px;
}

.pt-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.pt-8 {
    padding-top: 8px;
}

.mt-7 {
    margin-bottom: 7px;
}

.our-ser-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FF5300;
}

.what-font {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    color: #373737;
    text-align: center;
}

.box-font-no {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 73.2px;
    color: #EFEFEF;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.design-font {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    color: #373737;
}

.para-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    line-height: 19.2px;
    color: #7B7B7B;
}

.para-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #7B7B7B;
    max-width: 325px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-5 {
    padding-top: 5px;
    padding-bottom: 15px;
}

.mt-24 {
    margin-top: 24px;
}

.mb-6 {
    margin-bottom: 6px;
}

.pt-120 {
    padding-top: 120px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.box {
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    box-shadow: 0px 1px 4px 0px #0000001A;
}

.box:hover {
    box-shadow: 0px 0px 14px 13px rgba(0, 0, 0, 0.1);
}

.about-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FF5300;
}

.bg-color-2 {
    background-color: #FFF7F4;
}

.grow-txt {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    color: #373737;
}

.lorem-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #7B7B7B;
}


.check-line-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #373737;
}

.gap-15 {
    gap: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.gap-7 {
    gap: 7px;
}

.mt-8 {
    margin-top: 8px;
}

.case-txt-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FF5300;
}

.recent-font-txt {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: center;
}

.mt-120 {
    margin-top: 120px;
}

.bar-card-txt {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #7B7B7B;
}

.bar-card:hover {
    background-color: #FF5300;
    border-radius: 10px;
}

.bar-card {
    padding: 12px 20px;
    text-wrap: nowrap;
    cursor: pointer;
}

.p-0 {
    padding: 0;
}

.h-100 {
    height: 100%;
}

.mt-30 {
    margin-top: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.tem-txt-font {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    color: white;
}

.img-txt-prt {
    background-color: #FF5300;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
}

.img-prt:hover .img-txt-prt {
    opacity: 75%;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.mb-120 {
    margin-bottom: 120px;
}

.pt-100 {
    padding-top: 100px;
}

.mt-60 {
    margin-top: 60px;
}

.pb-120 {
    padding-bottom: 120px;
}

.mb-15 {
    margin-bottom: 20px;
}

.test-txt-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FF5300;
}

.say-txt-font {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    color: #373737;
    text-align: center;
}

.para-txt-sl {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* text-align: left; */
    color: #7B7B7B;
    max-width: 320px;
}

.phillip-txt {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    /* text-align: left; */
    color: #FF5300;
}

.sl-type-txt {
    font-family: "Poppins", sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    line-height: 19.2px;
    /* text-align: left; */
    color: #7B7B7B;
}

.sl-box {
    padding: 25px;
    background-color: white;
    border-radius: 15px;
}

.slick-slide {
    width: 370px !important;
}

/* .slick-dots li button:before{
    color: transparent !important;
} */
.slick-track {
    display: flex !important;
    gap: 15px !important;
}

.prev {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #FF5300;
    background: white;
    cursor: pointer;
    transition: all 200ms linear;
    bottom: 38%;
    left: 6%;
}

.next {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #FF5300;
    background: white;
    cursor: pointer;
    transition: all 200ms linear;
    bottom: 38%;
    right: 6%;
}

.next:hover {
    background-color: #FF5300;

}

.next:hover path {
    fill: white;
}

.prev:hover {
    background-color: #FF5300;

}

.prev:hover path {
    fill: white;
}

#myBtn {
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 4;
    width: 50px;
    display: none;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #FF5300;
    animation: myBtn 5s infinite;
}

#myBtn:hover {
    background-color: #FF5300;
}

#myBtn:hover path {
    fill: white;
}

.sec-6-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FF5300;
}

.sec-6-head-txt {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: #373737;
}

.sec-6-para-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
}

.sec-6-numb-font {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: center;
    color: #FF5300;
}

.sec-6-numb-txt {
    font-family: "Poppins", sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    line-height: 19.2px;
    text-align: center;
    color: #373737;
    max-width: 86px;
}

.box-2 {
    padding: 15px;
    box-shadow: 0px 1px 4px 0px #0000001A;
}

.box-2:hover {
    box-shadow: 0px 0px 14px 13px rgba(0, 0, 0, 0.1);
}
