@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 200ms linear !important;
}

.container {
    max-width: 1170px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}


.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.gap-38 {
    gap: 38px;
}

.pb-150 {
    padding-bottom: 150px;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-color-1 {
    background-color: #FFF7F4;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 4px 35px 0px #00000014;
    padding: 10px 0;
    background-color: #FFF7F4;
}

.nav-fonts {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #373737;
}

.nav-fonts:hover {
    color: #FF5300;
}

.digi-font {
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    color: #FF5300;
}

.ency-font {
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    color: #373737;
}

.let-talk {
    padding: 10px 22px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #373737
}

.let-talk:hover {
    background-color: #373737;
    color: white;
}

.get-strt-font {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: 10px 22px;
    background-color: #FF5300;
    color: white;
    border: 1px solid #FF5300;
    border-radius: 5px;
}

.get-strt-font:hover {
    background-color: white;
    color: #FF5300;
    border: 1px solid #FF5300;
}

.pt-208 {
    padding-top: 150px;
}

.pt-18-30 {
    padding-top: 18px;
    padding-bottom: 30px;
}

.choose-font {
    font-family: "Poppins", sans-serif;
    font-size: 48.83px;
    font-weight: 700;
    line-height: 73.2px;
    max-width: 602px;
    color: #373737;
}

.lorem-font {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #7B7B7B;
    max-width: 560px;
}

.bottom-line {
    border-bottom: 1px solid #FF5300;
    width: 40px;
}

.pt-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.pt-8 {
    padding-top: 8px;
}

.mt-7 {
    margin-bottom: 7px;
}

.mt-50 {
    margin-top: 50px;
}

.our-ser-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FF5300;
}

.what-font {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    color: #373737;
    text-align: center;
}

.box-font-no {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 73.2px;
    color: #EFEFEF;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.design-font {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    color: #373737;
}

.para-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    line-height: 19.2px;
    color: #7B7B7B;
}

.para-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #7B7B7B;
    max-width: 325px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-5 {
    padding-top: 5px;
    padding-bottom: 15px;
}

.pt-7 {
    padding-top: 7px;
}

.mt-24 {
    margin-top: 24px;
}

.mb-6 {
    margin-bottom: 6px;
}

.pt-120 {
    padding-top: 120px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-60 {
    margin-bottom: 60px;
}

.box {
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    box-shadow: 0px 1px 4px 0px #0000001A;
    height: 100%;
}

.box:hover {
    box-shadow: 0px 0px 14px 13px rgba(0, 0, 0, 0.1);
}

.about-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FF5300;
}

.bg-color-2 {
    background-color: #FFF7F4;
}

.grow-txt {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    color: #373737;
}

.lorem-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #7B7B7B;
}


.check-line-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #373737;
}

.gap-15 {
    gap: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.gap-7 {
    gap: 7px;
}

.mt-8 {
    margin-top: 8px;
}

.case-txt-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FF5300;
}

.recent-font-txt {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: center;
}

.mt-120 {
    margin-top: 120px;
}

.bar-card-txt {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #7B7B7B;
}

.bar-card:hover .bar-card-txt {
    color: #ffffff;
}

.bar-card:hover {
    background-color: #FF5300;
    border-radius: 10px;

}

.bar-card {
    padding: 12px 20px;
    text-wrap: nowrap;
    cursor: pointer;
}


.pb-20 {
    padding-bottom: 20px;
}

.h-100 {
    height: 100%;
}

.mt-30 {
    margin-top: 30px;
}

.tem-txt-font {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    color: white;
}

.img-txt-prt {
    background-color: #FF5300;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
}

.img-prt:hover .img-txt-prt {
    opacity: 75%;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.mb-120 {
    margin-bottom: 120px;
}

.pt-100 {
    padding-top: 100px;
}

.mt-60 {
    margin-top: 60px;
}

.pb-120 {
    padding-bottom: 120px;
}

.mb-15 {
    margin-bottom: 20px;
}

.test-txt-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FF5300;
}

.say-txt-font {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    color: #373737;
    text-align: center;
}

.para-txt-sl {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* text-align: left; */
    color: #7B7B7B;
    max-width: 320px;
}

.phillip-txt {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    /* text-align: left; */
    color: #FF5300;
}

.sl-type-txt {
    font-family: "Poppins", sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    line-height: 19.2px;
    /* text-align: left; */
    color: #7B7B7B;
}

.sl-box {
    padding: 25px;
    background-color: white;
    border-radius: 15px;
}

.slick-slide {
    width: 370px !important;
}

/* .slick-dots li button:before{
    color: transparent !important;
} */
.slick-track {
    display: flex !important;
    gap: 15px !important;
}

.prev {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #373737;
    background: transparent;
    cursor: pointer;
    transition: all 200ms linear;
    bottom: 60%;
    right: 100%;
}

.next {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #373737;
    background: transparent;
    cursor: pointer;
    transition: all 200ms linear;
    bottom: 60%;
    left: 100%;
}

.next:hover {
    border: 2px solid #FF5300;

}

.next:hover path {
    fill: #FF5300;
}

.prev:hover {
    border: 2px solid #FF5300;

}

.prev:hover path {
    fill: #FF5300;
}

#myBtn {
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 4;
    width: 50px;
    display: none;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #FF5300;
    animation: myBtn 5s infinite;
}

#myBtn:hover {
    background-color: #FF5300;
}

#myBtn:hover path {
    fill: white;
}

.sec-6-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FF5300;
}

.sec-6-head-txt {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: #373737;
}

.sec-6-para-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
}

.sec-6-numb-font {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: center;
    color: #FF5300;
}

.sec-6-numb-txt {
    font-family: "Poppins", sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    line-height: 19.2px;
    text-align: center;
    color: #373737;
    max-width: 86px;
}

.box-2 {
    padding: 15px;
    box-shadow: 0px 1px 4px 0px #0000001A;
}

.box-2:hover {
    box-shadow: 0px 0px 14px 13px rgba(0, 0, 0, 0.1);
}

.sec-7-txt-1 {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: white;
}

.sec-7-txt-2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: white;
}

.long-box {
    background-color: #FF5300;
    padding: 70px 60px 70px 60px;
    border-radius: 10px;
}

.border-right {
    border-right: 3px solid white;
}

.sec-8-font-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FF5300;
}

.sec-8-heading-font {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: center;
    color: #373737;
}

.stellar-txt-font {
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #373737;
}

.ml-5 {
    margin-left: 5px;
}

.pb-90 {
    padding-bottom: 90px;
}

.mt-18 {
    margin-top: 18px;
}

.box-p-txt {
    font-family: "Work Sans", sans-serif;
    font-size: 10.24px;
    line-height: 19.2px;
    text-align: left;
    color: #373737;
}

.sec-8-para-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
}

.read-more-btn {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    line-height: 24.72px;
    text-align: left;
    padding: 12px 22px;
    background-color: #FF5300;
    border-radius: 5px;
    border: 1px solid #FF5300;
    color: #ffffff;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: transparent;
    color: #FF5300;
    border: 1px solid #FF5300;

}

.s6-box {
    background-color: white;
    padding: 15px 15px 30px 15px;
    border-radius: 10px;
    height: 100%;
}

.sec-box-9 {
    background-color: #FF5300;
    padding: 65px 40px 65px 40px;
    border-radius: 10px;
}

.bottom-line-white {
    border-bottom: 1px solid #ffffff;
    width: 40px;
}

.sub-btn-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}

.sec-9-htxt {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: #ffffff;
}

.subscribe-now {
    padding: 15px 33px 15px 33px;
    background-color: #FF5300;
    color: #ffffff;
    border: 1px solid #FF5300;
    border-radius: 5px;
    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-wrap: nowrap;
}

.subscribe-now:hover {
    background-color: #ffffff;
    color: #FF5300;
    border: 1px solid #FF5300;
}

.input-email {
    border: none;
    outline: none;
    color: #7B7B7B;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 5px;
}

.email-box {
    padding: 5px 5px 5px 25px;
    background-color: #ffffff;
    border-radius: 5px;
}

.flex-direction-row {
    flex-direction: row;
}

.footer-bg-img {
    background-image: url(../images/png/footer-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-htxt-1 {
    color: #FF5300;
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    text-align: left;
}

.footer-htxt-2 {
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    text-align: left;
    color: #ffffff;
}

.footer-htxt-para {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}

.pt-55 {
    padding-top: 55px;
}

.mt-31 {
    margin-top: 31px;
}

.ml-100 {
    margin-left: 100px;
}

.gap-10 {
    gap: 10px;
}

.ml-31 {
    margin-left: 31px;
}

.location-font-txt {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: #FF5300;
}

.location-font-txt-2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #ffffff;
}

.span-circle {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;

}

.span-circle:hover span svg path {
    fill: #FF5300;
}

.span-circle:hover {
    transform: scale(1.1);
}

.bottom-line-footer {
    background-color: #ffffff;
    height: 1px;
    width: 100%;

}

.copyright-txt {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 24.1px;
    text-align: left;
    color: #ffffff;
}

.privacy-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}

@media (max-width:1200px) {
    .nav-menu {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        right: 4%;
        transform: translateY(-50%);
        top: 50%;
        z-index: 4;
    }

    .nav-menu span {
        height: 5px;
        width: 100%;
        background-color: #FF5300;
        border-radius: 3px;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        left: -100%;
        position: fixed;
        background: #EFEFEF;
        z-index: 3;
        transition: all 300ms linear;
        top: 0;
    }

    .show {
        left: 0;
    }
}

@media (max-width:1400px) {
    .arrow-none {
        display: none !important;
    }

}

@media (min-width:1200px) {
    .email-box {
        width: 642px !important;
    }
}

@media (max-width:1200px) {
    .overflow-scroll {
        overflow-x: scroll;
    }
}

@media (max-width:992px) {
    .lg-col-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .lg-col-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .lg-w-100 {
        width: 100%;
    }

    .lg-mt-20 {
        margin-top: 20px;
    }

    .lg-mt-22 {
        margin-top: 22px;
    }

    .border-right {
        border-right: none;
    }

    .lg-col-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .lg-flex-direction-column {
        flex-direction: column;
    }

    .lg-align-item-start {
        align-items: start;
    }

    .lg-col-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .box-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .lg-ml-0 {
        margin-left: 0;
    }
}

@media (max-width:768px) {
    .md-col-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-mt-20 {
        margin-top: 20px;
    }

    .md-flex-direction-column {
        flex-direction: column;
    }

    .md-col-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width:576px) {
    .p-0 {
        padding: 0 !important;
    }

}

@media (min-width:576px)and (max-width:768px) {
    .long-box::before {
        content: "";
        position: absolute;
        height: 84%;
        width: 3px;
        top: 9%;
        right: 50%;
        transform: translateX(-50%);
        background: white;
    }

    .long-box::after {
        content: "";
        position: absolute;
        width: 89%;
        height: 3px;
        top: 50%;
        transform: translateY(-50%);
        background: white;
        left: 5%;
    }

    .long-box {
        position: relative;
        border-radius: 100px;
    }
}

@media (max-width:576px) {
    .sm-col-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .sm-flex-direction-column {
        flex-direction: column;
    }

    .input-email {
        padding: 20px;

    }

    .email-box {
        padding: 5px;
    }

    .sec-box-9 {
        padding: 40px 20px;
    }

    .box-font-no {
        font-size: 40px;
    }

    .design-font {
        font-size: 15px;
    }

    .sm-align-item-unset {
        align-items: unset;
    }

    .box-img {
        width: 53px;
        height: 53px;
    }

    .say-txt-font {
        font-size: 29px;
        line-height: 40px;
    }

    .sec-6-head-txt {
        font-size: 29px;
        line-height: 40px;
    }

    .phillip-txt {
        font-size: 15px;
    }

    .para-txt-sl {
        font-size: 14px;
    }

    .sl-type-txt {
        font-size: 10px;
    }

    .recent-font-txt {
        font-size: 29px;
        line-height: 40px;
    }

    .sec-8-heading-font {
        font-size: 29px;
        line-height: 40px;
    }

    .sec-9-htxt {
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .sub-btn-txt {
        font-size: 14px;
    }

    .subscribe-now {
        font-size: 16px;
    }

    .input-email {
        font-size: 14px;
    }

    .grow-txt {
        font-size: 29px;
        line-height: 40px;
    }

    .choose-font {
        font-size: 30px;
        line-height: 40px;
    }

    .get-strt-font {
        font-size: 16px;
    }

    .para-font-2 {
        font-size: 12px;
    }

    .footer-htxt-para {
        font-size: 14px;
    }

    .location-font-txt-2 {
        font-size: 14px;
    }

    .span-circle {
        width: 45px;
        height: 45px;
    }

    .copyright-txt {
        font-size: 14px;
    }
}